h3 #{projectName} Email Verification
p Hello! Your #{projectName} account is nearly ready. Please select the link below to finish confirming your email address.

p Click the following link:
p
 a(href='#{verifyURL}') #{verifyURL}

p Note: If you did not sign for a #{projectName} account, don't worry. You can ignore this email.

p
  | Thanks,
  br
  | #{projectName}