//
  | 
  | 
  | #{projectName} Email Verification
  | 
  | Your #{projectName} account is nearly ready. Please select the link below to finish confirming your email address.
  | 
  | Verification URL:
  | #{verifyURL}
  |
  | Note: If you did not sign for a #{projectName} account, don't worry. You can ignore this email.
  |
  | Thanks,
  | #{projectName}
  | 
  |
