| Welcome to #{projectName}
= '\n'
= '\n'
| Thanks for signing up. As requested, your account has been created. Here are your login credentials:
= '\n'
= '\n'
| Username: #{username}
| Email: #{email}
= '\n'
= '\n'
| Login Here: #{loginURL}
= '\n'
= '\n'
| Thanks,
| #{projectName}
