//
  | 
  | 
  | Welcome to #{projectName}
  | 
  | Thanks for signing up. As requested, your account has been created. Here are your login credentials:
  | 
  | Username: #{username}
  | Email: #{email}
  | 
  | Login Here: #{loginURL}
  | 
  | Thanks,
  | #{projectName}
  | 
  | 