h3 #{projectName} Email Verification
p Your #{projectName} account is nearly ready. Please visit the link below to confirm your email address.
a(href='#{verifyURL}') #{verifyURL}
p Note: If you did not sign for a #{projectName} account, don't worry. You can ignore this email.
p
  | Thanks,
  br
  | #{projectName}
